:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgb(205, 205, 205);
    background-color: #242424;
}

body {
    margin: 0;
}
