.MonkeyCard {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.MonkeyCard-image {
    overflow: hidden;
    padding-bottom: 0;
    border-radius: 8px;
}

.MonkeyCard img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-out;
}

.MonkeyCard:hover img {
    transform: scale(1.1);
}

.MonkeyCard-info {
    color: #d1cfc7;
    width: 100%;
    font-size: 0.9rem;
    margin: 2px 0 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.MonkeyCard:hover .MonkeyCard-info {
    color: white;
}

.MonkeyCard-info-name,
.MonkeyCard-info-troop,
.MonkeyCard-info-year {
    margin: 0;
}

.MonkeyCard-info-name {
    margin-right: auto;
    padding-left: 4px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MonkeyCard-info-sex {
    height: 22px;
    width: 22px;
    padding-top: 1px;
}

.MonkeyCard-info-year {
    font-weight: 300;
}

.MonkeyCard-info-troop {
    margin-left: 4px;
    padding-right: 4px;
    font-weight: 300;
}
