.Nav {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 32px;
    /* border-bottom: 1px solid #3e3e3e; */
}

.Nav-icon img {
    height: 40px;
    width: 40px;
    margin-right: 4px;
    padding-bottom: 8px;
    filter: invert(100%);
}

.Nav-title {
    font-family: "Russo One", sans-serif;
    margin: 0;
    padding-bottom: 4px;
}

.Nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 6px;
}

.Nav button {
    font-size: 15px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #3e3e3e;
    cursor: pointer;
}

.Nav button:hover {
    background-color: #545454;
}

.Nav-searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #3e3e3e;
    border: 1px solid white;
    border-radius: 8px;
    margin: 0 0 8px 0;
}

.Nav-searchbar input {
    flex: 1;
    background-color: transparent;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 8px 8px 8px 0;
}

.Nav-searchbar input:focus {
    outline: none;
    color: white;
}

.Nav-iconSearch {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 8px;
    padding: 8px 0 6px 8px;
}

.Nav-iconSearch:hover {
    color: white;
}

@media (min-width: 920px) {
    .Nav-searchbar {
        width: 50%;
        max-width: 500px;
        margin: 0 auto 4px auto;
    }
}
