.Nav {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 32px;
    /* border-bottom: 1px solid #3e3e3e; */
}

.Nav-icon img {
    height: 40px;
    width: 40px;
    margin-right: 4px;
    padding-bottom: 8px;
    filter: invert(100%);
}

.Nav-title {
    font-family: "Russo One", sans-serif;
    margin: 0;
    padding-bottom: 4px;
}

.Nav-buttons {
    margin-left: auto;
}

.Nav button {
    font-size: 16px;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    background-color: #242424;
    cursor: pointer;
}

.Nav button:hover {
    background-color: #3e3e3e;
}
