.ShowPage-nav {
    padding: 8px 0 0 0;
    margin: 0 8px;
}

.ShowPage-sortfilter {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.ShowPage-sort,
.ShowPage-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin: 0 8px;
}

.ShowPage-sort h4,
.ShowPage-filter h4 {
    font-size: inherit;
    margin: 0;
    padding-right: 4px;
}

.ShowPage-sort button {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 8px;
    height: 32px;
    border: none;
    border-radius: 5px;
    background-color: #242424;
    color: rgb(192, 191, 191);
    cursor: pointer;
    transition: border-bottom 0.5s ease-out;
}

.ShowPage-sort button svg {
    padding-left: 2px;
    padding-bottom: 2px;
    height: 12px;
    width: 12px;
}

.ShowPage-sort button:hover,
.ShowPage-sort select:hover {
    color: white;
    background-color: #3e3e3e;
}

.ShowPage-filter {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: 300;
    margin: 0 8px;
}

#troops,
#year {
    font-family: "Nunito Sans", sans-serif;
    text-align: right;
    border: none;
    border-radius: 2px;
    color: rgb(192, 191, 191);
    background-color: #242424;
    padding: 4px 2px 2px 2px;
}

#troops option,
#year option {
    font-family: "Nunito Sans", sans-serif;
    border: none;
    border-radius: 2px;
    color: rgb(192, 191, 191);
    background-color: #242424;
    padding: 4px 4px;
}

.ShowPage-monkeys {
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

@media (min-width: 520px) {
    .ShowPage-sortfilter {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .ShowPage-sort {
        margin: 0 24px;
    }

    .ShowPage-monkeys {
        margin: 8px 24px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 2fr));
    }

    .ShowPage-nav {
        padding: 8px 0 0 0;
        margin: 0 24px;
    }
}
